<mat-card>
    <mat-card-header>
      <mat-card-title>New Post</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #postForm="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput type="text" required [(ngModel)]="post.title" name="title">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Body</mat-label>
          <textarea matInput required [(ngModel)]="post.body" name="body"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select [(value)]="post.category">
                
              <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          
  
        <button mat-raised-button color="primary" type="submit" [disabled]="!postForm.form.valid">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
  

